@font-face {
	font-family: 'CutiveMono-Regular';
	src: url('../fonts/CutiveMono-Regular.ttf');
}

/* @font-face {
    font-family: 'Satisfy';
    src: url('../fonts/Satisfy-Regular.ttf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Bangers';
    src: url('../fonts/Bangers-Regular.ttf');
} */

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	--sidebar-width: 18rem;
	--card-width: 100vw * 5;
	/* outline: none; */
}

/* Overlay */

#overlay {
	position: fixed;
	/* Sit on top of the page content */
	display: none;
	/* Hidden by default */
	width: 100%;
	/* Full width (cover the whole page) */
	height: 100%;
	/* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffffffb4;
	z-index: 15;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: loader;
}

#overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: black;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#overlay-card-wrapper {
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#overlay-close-btn {
	display: none;
	position: absolute;
	display: none;
	font-size: 50px;
	width: 50px;
	padding-left: 10px;
	top: 120px;
	right: 20px;
	cursor: pointer;
}

#overlay-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: rgba(140, 180, 69, 1); */
	background-color: #fafffe;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin: 1%;
	width: 60%;
	padding: 0;
	height: auto;
	text-align: center;
	transform: translate(0, -20%);
	-ms-transform: translate(0%, -20%);
}

#ovl-card-photo-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#overlay-card-photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid white;
}

#overlay-card-text {
	color: black;
	padding: 2px 16px;
	margin: 10px 10px 20px 10px;
}

/* End overlay */

/* Modal */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 13;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(255, 255, 255, 0.4);
	/* Black w/ opacity */
	justify-content: center;
	align-items: center;
}

/* Modal Content/Box */
.modal-content {
	z-index: 14;
	background-color: #fefefe;
	/* left: 50%;
	top: 50%; */
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid rgb(197, 197, 197);
	width: 80%;
	border-radius: 25px;
	/* transform: translate(-50%, -50%); */
	/* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close-btn {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* End modal */

/* User verification */
.user-verification {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#usr-verf-input {
	width: 40%;
	padding: 10px;
	margin: 5px auto;
	text-align: center;
}

#usr-verf-submit {
	width: 20%;
	padding: 10px;
	margin: 3px auto;
	border: 2px solid #46a049;
	color: #46a049;
	background-color: white;
	cursor: pointer;
}

#usr-verf-submit:hover {
	border: 2px solid #46a049;
	background-color: #46a049;
	color: white;
}

#usr-verf-info {
	margin: 5px auto;
	padding: 10px;
	text-align: center;
}

#usr-verf-request {
	text-align: center;
	background-color: rgba(200, 255, 0, 0.897);
	padding: 5px;
}

.usr-verf-explaination {
	text-align: center;
}

.usr-verf-links{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr repeat(3, auto);
	justify-items: right;
	font-size: 12px;
	padding-top: 0.5rem;
	border-top: #2b8315 1px ridge;
}
.usr-verf-links > a{
	text-decoration: none;
	color: #287914;
}
.usr-verf-links > a:hover{
	color: #40be21;
	text-decoration: underline;
}

/* User verification */

/* Tooltips */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip .tooltiptext {
	font-family: CutiveMono-Regular;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	/* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* End tooltips */

body {
	margin: 95px 0 0 0;
	padding: 0;
	font-family: sans-serif;

	background: linear-gradient(to bottom, #e9e8e8 , #f0f0f0, #fff);
	/* background:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)),url('bglogo.png'),lightgrey;*/
	background-attachment: fixed;
	/* background: url(http://mohit.kyism.ga/kyi/bglogo.png)  0, 0 lightgrey;
       background-blend-mode: overlay;
        background-repeat:no-repeat;
        background-position:left;
        background-position:600px 125px; */
	background-size: 500px;
	overflow-x: hidden;
}

.intro-link{
	color: rgb(71, 71, 212);
}

#root {
	display: flex;
}

.header {
	/*background: url(http://mohit.kyism.ga/kyi/bglogo.png);*/
	background: white;
	background-position: left top;
	width: 100vw;
	display: flex;
	position: fixed;
	top: 0;
	margin-bottom: 0;
	box-shadow: 2px 0 3px rgb(75, 75, 75);
	z-index: 2;
	height: 90px;
}

#search_bar_and_images {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	flex: 3;
}

.alerts {
	padding: 10px;
	font-size: 13px;
	font-style: italic;
	transform: translateY(7px);
	font-family: 'Armata';
	line-height: 1.3em;
}


.header input{
	text-align: center;
	height: 45px;
	width: 40vw;
	margin-bottom: 33.5px;
	margin-right: 10px;
	border-radius: 40px;
	border:0;
	border-bottom: 1px solid #e0e0e0;
	color: #424242;
	background-color: #f5f5f5;
	font-size: 18px;
	transition: 0.4s;
	font-family: monospace;
	transform: translateY(3px);
	box-shadow: inset 0 -3px 1px #fff, 0 0 4px #bebebe;
}

.header .search_images {
	padding: 3px;
	border-radius: 20px;
	/* box-shadow: 0 0 2px #fff; */
	height: 45px;
	margin: 0 5px;
	font-size: 30px;
}

.search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: none;
	height: 50px;
	width: 50px;
	margin: 0 5px 0 5px;
	cursor: pointer;
}

#search-bar:hover {
	border: 1px solid #a5ca65;
	box-shadow: none;
}

.header input:focus {
	border: 1px solid #1f1fff;
}

#search-icon {
	font-size: 22px;
	transform: translate(0, 7px);
	border: none;
}

#bkmrk-icon, #moon-icon {
	font-size: 23px;
	transform: translate(0, 7px);
	border: none;
}

#search-submit-btn,
#search-dark-btn,
#search-bkmrk-btn{
	transition: 0.2s;
	background: #f8f8f8;
}
#search-submit-btn:hover,
#search-dark-btn:hover,
#search-bkmrk-btn:hover {
	box-shadow: 0 0px 3px #3939fd;
}

#search-dark-btn,
#search-bkmrk-btn{
	transform: translateX(40px);
}
#search-dark-btn:hover,
#search-bkmrk-btn:hover{
	transform: translateX(40px) scale(1.05);
}

#search-submit-btn{
	transform: translateX(-8px);
}
#search-submit-btn:hover{
	transform: translateX(-8px) scale(1.05);
}

#mobile-menu-btn{
	display: none;
}

.header #logo {
	height: 70px;
	/* transform: translate(-5em, -6px); */
	padding-left: 10px;
	margin-top: 13px;
	margin-right: 10px;
	transform: translateX(-0.7em);
	/* position: relative;
	top: -5px;
	left: -70px; */
}

.logo-text {
	/*color: rgba(0, 200, 0, 1);*/
	/* position: relative;
	top: -20px;
	left: -70px; */
	color: #8cb445;
	transform: translateX(-0.7em);
	display: flex;
	height: 90px;
	/* flex-direction: column;
	flex-flow: column; */
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	font-size: normal;
	font-size-adjust: all;
	cursor: pointer;
	font-size: larger;
	/* transform: translate(-4.5em, -15px); */
}

#logo-text-your {
	color: blue;
}

#search-clear-btn {
	display: block;
	background: rgba(255, 255, 255, 0);
	transform: translate(-245px, -1px);
	border: none;
	transition: 0.2s all;
}


.sidebar .filter_label {
	display: none;
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-size: 14px;
	writing-mode: vertical-rl;
	position: fixed;
	color: #fff;
	background: #323232;
	height: 100vh;
	width: 40px;
	border: 0;
	text-align: center;

}

.sidebar .sidebar_content {
	display: block;
	left: 0;
	top: 85px;
	/* background: url('public/img/background-grassy.jpg'); */
	background: linear-gradient(to left, #23a1db 60%, #7ec3ff );
	color: white;
	height: 89vh;
	width: 18rem;
	position: fixed;
	z-index: 1;
	box-shadow: 2px 3px 4px #000;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
}
var

.sidebar h7{
	position: relative;
	top: 5px;
	font-size: 10px;
}

.all_selects {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	transform: translateY(20px);
}

.all_selects label {
	font-family: CutiveMono-Regular;
	font-weight: bolder;
	-ms-text-justify: kashida;
	text-justify: kashida;
	text-transform: uppercase;
	font-size: 14px;
	/*color: black;*/
	color: white;
}

.all_selects .disabled-label {
	/*color: rgb(63, 61, 61);*/
	color: lightgray;
}

select {
	background: radial-gradient(#eee,#fff);
	height: 30px;
	/*background-image: linear-gradient(to bottom,#000 0%,#9e9e9e 100%);*/
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 10px;
	border-radius: 4px;
	/*border: 0.5px #759991 solid;*/
	border: none;
	color: rgb(31, 31, 31);
	width: 95%;
}

input[type="button"] {
	border-radius: 25px;
	border: none;
	width: 55%;
	cursor: pointer;
	background-color:  #2b8315 ;
	font-size: 14px;
	font-family: sans-serif;
	color: white
}

input[type="button"]:hover {
	background: lightgreen;
}

.filter_buttons {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 2px;
	align-items: center;
	transform:translateY(10px) ;
}

.filter-btn {
	width: 100%;
}

#clear_filters {
	margin-bottom: 10px;
	height: 40px;
	padding: 5px;
	border: #000 solid 0.5px;
}

#mobile-bkmrk-btn, #mobile-dark-btn {
	display: none;
}

.sidebar-hr {
	margin: 10px auto;
	width: 80%;
}

.other-sites-block {
	width: 100%;
	display: flex;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.other-sites {
	text-decoration: none;
	padding: 8px;
	font-size: 26px;
	color: white;
}
.other-sites:hover{
	transform: scale(1.1);
}

#blog-tooltip {
	font-size: small;
}

/* #pixels-tooltip {
	font-size: small;
} */

.small-text {
	font-size: small;
	font-weight: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 1px 5px 1px;
	font-family: CutiveMono-Regular;
}

#clear_filters:hover {
	color: white;
	background-color: rgb(59, 54, 54);
}

.right {
	position: absolute;
	left: var(--sidebar-width);
	z-index: 0;
	/* width: 81vw; */
	padding-top: 10px;
	height: auto;
	
}

.results-ul {
	width: (100vw - var(--sidebar-width));
	display: flex;
	flex-wrap: wrap;
	/* flex-shrink: 3; */
	list-style: none;
	padding-left: 10px;
	min-height: 76vh;
	/* justify-content: center; */
}

.results-li {
	/* width: 46%; */
	margin: 30px 30px;
}

.card {
	display: flex;
	padding-left: 9px;
	height: 170px;
	width: 480px;
	background-color: rgba(255, 255, 255, 0);
	/*box-shadow: 2px 3px 7px #959595;*/
	transition: 0.35s;
	border-radius: 10px;
	border-bottom: 1px solid snow;
}

.card:hover {
	opacity: 1;
	box-shadow: 2px 3px 7px #757575;
	background: white;
}

.card-text{
	padding-top:9px;
}

picture img {
	margin-top: 10px;
	margin-right: 20px;
	height: 135px;
	width: 135px;
	border-radius: 50%;
	background: white;
	object-fit: cover;
}

.result-bkmrk-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	font-size: larger;
	padding: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius:10px ;
	transition: 0.3s all;
}
.result-bkmrk-btn:hover{
	background: #eceff1;
}

#install-btn i {
	bottom: 50px;
	right: 30px;
	position: fixed;
	height: 45px;
	opacity: 0.5;
	transition: 0.5s;
	font-size: x-large;
	padding: 5px;
}

#back_to_top img{
	display: none;
	bottom: 40px;
	right: -20%;
	position: fixed;
	height: 40px;
	opacity: 0.5;
	transition: 0.5s all;
	filter: contrast(4.5);
}

#install-btn i:hover, #back_to_top img:hover {
	opacity: 1;
	cursor: pointer;
}

#page_scrolling_buttons {
	display: none;
	justify-content: center;
	margin-bottom: 30px;
}

#page_scrolling_buttons button {
	background: lightgreen;
	border: 0;
	margin: 0 7px 0 7px;
	cursor: pointer;
	color: grey;
	font-size: 15px;
	font-family: Verdana, sans-serif;
	height: 40px;
	padding: 0 14px;
	transition: 0.25s
}

#page_scrolling_buttons #first_page {
	margin-right: 25px;
}

#page_scrolling_buttons #first_page:hover {
	background: #ccc;
	color: #000;
}

#page_scrolling_buttons button:hover {
	background: #46a049;
}

#page_scrolling_buttons a {
	text-decoration: none;
}


footer{
	box-sizing: border-box;
	position: absolute;
	justify-content: flex-end;
	width: calc(100vw - var(--sidebar-width) - 1rem);
	height: 2.5rem;
	background-color: #f8f8f8;
	box-shadow: -3px -1px 2px rgb(146, 146, 146);
	color: rgb(114, 114, 114);
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	border-right: 10px indianred double;
}
.footer-first-placed-at{
	position: absolute;
	top: 81.5vh;
}

#footer-options{
	width: inherit;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto auto /*auto*/ 10px;
	transform: translateY(5px);
	margin: 0;
	
}
#footer-options:hover{
	cursor: default;
}


footer .document-links{
	display: grid;
	grid-gap: 3px;
	grid-template-columns: auto auto auto;
	font-size: 11px;
}
.document-links > p{
	margin: 0;
}

footer p{
	height: inherit;
	margin:8px;
}
footer a{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
footer a:hover{
	color:rgb(34, 34, 34);
}
#open-app-links{
	/* display: none; */
}

.app-links{
	position: absolute;
	right: 78px;
	bottom: 42px;
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 15px;
	padding: 5px 0;
	justify-items: center;
	background-color: rgb(143, 140, 140);
	color: rgb(255, 255, 255);
	text-shadow: #696969 2px 2px 3px;
	font-size: 20px;
	width: 14em;
	transition: 0.3s all;
	visibility: hidden;
	opacity: 0;
	border: rgb(48, 48, 48) 3px ridge;
	border-radius: 5px;
}

.app-links img{
	height: 40px;
	width: auto;
	margin: 0;
}



.cookie-agreement{
	position: fixed;
	bottom: -100%;
	left: 25vw;
	justify-content: center;
	display: flex;
	width: 66%;
	background: #f0f0f0;
	transition: 1s all;
	z-index: 3;
	border: 1px solid black;
}
.cookie-agreement p{
	margin: 8px 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cookie-btn{
	top: -1px;
	margin: 0 0 0 2ch;
	height: 30px;
	width: 70px;
	font-family: inherit;
	color: white;
	background: green;
	border-radius: 30px;
	border: none;
	/* border: 1px solid rgb(80, 80, 80); */
}
#cookie-btn:hover{
	background: rgb(10, 161, 10);
}

#instruction-card {
	display: flex;
	padding: 9px;
	height: 130px;
	width: 70vw;
	/* background-color: rgba(255, 0, 0, 0); */
	/*background-color: yellow;*/
	/*box-shadow: 2px 3px 7px #959595;*/
	transition: 0.5s;
	border-radius: 10px;
	text-align: center;
	color: grey;
	font-style: italic;
}

/*#instruction-card:hover {*/
/*box-shadow: 2px 3px 7px #757575;*/
/*}*/

#inst-card_text {
	/* color:black;
       font-weight:bold; */
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
}


.hidden {
	display: none !important;
}
